.body-search {
  background-color: #007cc2;
  text-align: left;
  padding-left: 100px;
}

.date-search {
  margin-left: 20px;
  width: 220px;
}

.body-search .search-options{
  display: inline-block;
  color: white;
  padding-right: 30px;
  border-right: 1px solid white;
  height: 70px;
  padding-top: 22px;
}

.body-search .search-filters{
  display: inline-block;
  padding-left: 30px;
}

.search-options .block-search{
  display: block;
  text-align: left;
}

.search-filters .block-search {
  display: inline-block;
  text-align: left;
}

.search-select {
  width: 220px;
}

.block-search label{
  color: hsla(0,0%,100%,.5);
  font-size: 14px;
}

.exchange-icon {
    background-color: #004990;
    border-color: #004990;
    border-radius: 50%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 35px;
    margin: 0 10px 12px;
    min-height: 0;
    padding: 0;
    width: 35px;
}

.exchange-icon:hover {
  background-color: red;
  border-color: red;
  border: 1px solid red;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 35px;
  margin: 0 10px 12px;
  min-height: 0;
  padding: 0;
  width: 35px;
}

.exchange-icon:disabled {
  background-color: rgba(0,0,0,.001);
  border-color: hsla(0,0%,100%,.5);
  color: hsla(0,0%,100%,.5);
  opacity: .3;
  cursor: default;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 35px;
  margin: 0 10px 12px;
  min-height: 0;
  padding: 0;
  width: 35px;
}

.input-date {
  border-radius: 4px;
  border-width: 1px;
  box-sizing: border-box;
  height: 37px;
  align-items: center;
  border-style: solid;
  border-color: hsl(0,0%,80%);
  font-size: 17px;
}

.search-btn {
  margin-top: 25px;
  background-color: #004990;
  border-color: #004990;
  border: 1px solid #007cc2;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 22px 40px 23px;
  text-align: center;
  border-radius: 40px;
  margin-top: 110px;
  margin-bottom: 50px;
  margin-left: 20px;
  cursor: pointer
}

.search-btn:hover {
  background-color: red;
  border-color: red;
  border: 1px solid red;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 22px 40px 23px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer
}

.search-btn:disabled {
  background-color: rgba(0,0,0,.001);
  border-color: hsla(0,0%,100%,.5);
  color: hsla(0,0%,100%,.5);
  opacity: .3;
  cursor: default;
}

@media screen and (max-width: 1200px ) {
  .body-search {
    padding-left: 1px;
  }
}

@media screen and (max-width: 1100px ) {
  .body-search {
    padding-left: 1px;
  }

  .body-search .search-options {
    display: flex;
    height: 30px;
    padding-top: 76px;
  }

  .search-options .block-search {
    margin-left: 30px;
  }

  .search-btn {
    margin-top: 20px;
  }
}



@media screen and (max-width: 810px ) {
  .search-filters .block-search {
    width: 90%;
  }

  .exchange-icon {
    display:none;
  }

  .date-search {
    margin-left: 0px;
    margin-top: 20px;
  }

  .input-date {
    width: 100%;
  }
}